{% load static %}

<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} | DevSepak </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel ="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_files %} {% endblock %}

    <style>
        body {
            background-color: #f0f0f0; 
        }
    </style>
</head>
<body>

    {% include 'partials/_navbar.html' %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js_files %} {% endblock %}
</body>
</html>